---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { pages } from "../utils/fetchData";

const { slug } = Astro.params;

export async function getStaticPaths() {
  return pages.map((page: PageItem) => ({
    params: { slug: page.slug },
    props: { page: page },
  }));
}

const pageData = pages.find((page: PageItem) => page.slug === slug);
const { featuredImage } = pageData;
const { width, height } = pageData;
---

<Layout title={pageData.title}>
  <div class="w-full flex items-center justify-center">
    <section
      class="prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl p-10 prose lg:prose-xl prose-a:text-blue-700 bg-white bg-opacity-50 rounded-lg"
    >
      <h1 class="text-center" set:html={pageData.title} />
      {
        featuredImage && (
          <Image
            alt={featuredImage.node.altText}
            src={featuredImage.node.sourceUrl}
            class="mx-auto"
            width={width}
            height={height}
          />
        )
      }
      <Fragment set:html={pageData.content} />
    </section>
  </div>
</Layout>
