---
import { Image } from "astro:assets";

const {
  imageSrc,
  href,
  heading,
  excerpt,
  date,
  width = 300,
  height = 300,
} = Astro.props as CardProps;
---

<a href={href} class="block w-full" style={`max-width: ${width}px`}>
  <div class="bg-white rounded-lg overflow-hidden">
    <Image src={imageSrc} alt={heading} {width} {height} loading="eager" />
    <div class="p-4 h-52">
      <h3 class="text-lg font-semibold">{heading}</h3>
      <p class="text-gray-500 text-sm">{date}</p>
      <p class="text-gray-500 mt-2" set:html={excerpt} />
    </div>
  </div></a
>
