---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { meetupPosts } from "../../utils/fetchData";

const { slug } = Astro.params;

export async function getStaticPaths() {
  return meetupPosts.map((post: PostItem) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}

const postData = meetupPosts.find((post: any) => post.slug === slug);
const { featuredImage } = postData;

const imageWidth =
  featuredImage.node.mediaDetails.width < 300
    ? featuredImage.node.mediaDetails.width
    : 300;
const imageHeight =
  featuredImage.node.mediaDetails.height < 300
    ? featuredImage.node.mediaDetails.height
    : 300;
---

<Layout title={postData.title}>
  <div class="w-full flex items-center justify-center">
    <article
      class="prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl p-10 prose lg:prose-xl prose-a:text-blue-700 bg-white rounded-lg"
    >
      <h1 class="text-center" set:html={postData.title} />
      {
        featuredImage && (
          <div class={`max-w-[${imageWidth}px] mx-auto`}>
            <Image
              alt={featuredImage.node.altText ? featuredImage.node.altText : ""}
              src={featuredImage.node.sourceUrl}
              class="mx-auto"
              width={imageWidth}
              height={imageHeight}
            />
          </div>
        )
      }
      <Fragment set:html={postData.content} />
    </article>
  </div>
</Layout>
